#contenido {
  width: 900px;
  margin: 0 auto;
}

body {
  font-family: "Dancing Script";
  color: white;
  background: #02010a;
}

header {
  background-color: #5b7989;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
  animation: miSlideIn 1.5s;
}
.titulo {
  width: 70%;
  font-size: 25px;
}

.enlace {
  width: 30%;
  font-size: 25px;
}

p {
  font-family: "Dancing Script";
  text-align: center;
  color: black;
}
.imagen {
  background-color: #82c3a6;
  text-align: center;
  box-shadow: 2px 2px #02010a;
  margin: auto;
  width: 100%;
}
.imagen img {
  box-shadow: 2px 2px #02010a;
  margin: 5%;
  width: 85%
}
.enlace {
  color: white;
  text-decoration: none;
}

#imagenessecundarias {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #d5c75f;
}

#galeria {            
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #d5c75f;
  width: 100%;
}

#galeria  img{
    width: 250px;
    padding: 10px;
}

#galeria .Imagen1{
  -webkit-filter:blur(10px);
	filter:blur(10px);
}

#galeria .Imagen2, .Imagen4, .Imagen6{
  -webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}

#galeria .Imagen3{
  -webkit-filter:sepia(90%);
  filter:sepia(90%);
}

.imagen1 a {
  font-size: 20px;
  text-decoration: underline;
  font-family: "Dancing Script";
  text-align: center;
  color: black;
}

.imagen2 a {
  font-size: 20px;
  text-decoration: underline;
  font-family: "Dancing Script";
  text-align: center;
  color: black;
}

.imagen1 img {
  margin:10px;
  display: block;
  border: 1px;
  box-shadow: 2px 2px #02010a;
}

.imagen2 img {
  margin:10px;
  display: block;
  border: 1px;
  box-shadow: 2px 2px #02010a;
}

.imagen1 img:hover {
  transform: rotate(10deg);
  transition-duration: 1s;
  box-shadow: 2px 2px #82c3a6;
}

.imagen2 img:hover {
  transform: translate(5px, -20px);
  transition-duration: 1s;
  box-shadow: 2px 2px #82c3a6;
}

footer {
  font-family: "Dancing Script";
  color: black;
  display: flex;
  color: black;
  border-radius: 0 0 10px 10px;
  background: #C6d5c5;
}

footer div {
  flex-basis: 0;
  flex-grow: 1;
  padding-left: 5%;
}

footer h1 {
  color: black;
  text-shadow: none;
}
@keyframes miSlideIn {
  0% {
  margin-top: 150%;
  }
  
  60% {
  margin-top: -5%;
  }
  
  100% {
  margin-top: 0%;
  }
  }
@media screen and (min-width: 900px) {
  footer {
      flex-direction: row;
  }
  #imagenessecundarias {
      display: flex;
      justify-content: space-around;
      background-color: #d5c75f;
      text-align: center
  }
}

@media screen and (max-width: 800px) {
  .titulo {
      text-align: center;
      width: 100%;
  }
  .enlace {
      text-align: center;
      width: 100%;
  }
  #contenido {
      width: 100%;
      margin: 0 auto;
  }
  footer {
      flex-direction: column;
      text-align: center;
  }
  .imagen1,
  .imagen2 {
      text-align: center !important;
  }
  .imagen1 img {
      width: 100%;
      margin: auto;
      border: 1px;
      box-shadow: 2px 2px #02010a;
      text-align: center;
  }
  .imagen2 img {
      width: 100%;
      margin: auto;
      border: 1px;
      box-shadow: 2px 2px #02010a;
      text-align: center;
  }
  #galeria img{
    width: 100%;
  }
  
}